@keyframes slide {
     100% {
          background-position: right -40px top 0;
     }
}

.train {
     width: 240px;
     height: 40px;
     background: linear-gradient(#f0d433 0 0) 
      left -40px top 0/40px 100% no-repeat rgb(150, 146, 146);
     -webkit-mask: linear-gradient(#000 0 0)
      top / 100% 5px no-repeat,
      linear-gradient(#000 0 0) bottom/100%
      5px no-repeat,
      repeating-linear-gradient(90deg, #000 0 5px,
      #0000 0 20%)
       left/calc(100% - 5px) 100%;
       animation: slide 1s infinite linear;
}